<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - XCoreAssignment</title>
    <link href="~/css/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/XCoreAssignment.styles.css" asp-append-version="true" />
    <style>
        html, body {
            overflow: hidden;
        }

     
    </style>
</head>
<body class="m-0">
    <div id="modal"></div>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
        
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/modal.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
