@{
    ViewData["Title"] = "QR Code";
}


<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card p-4 shadow-lg rounded-3 animate__animated animate__fadeInUp" style="max-width: 500px;">
        <h1 class="fw-bold text-center mb-4" style="font-family: 'Montserrat', sans-serif; font-size: 2rem;">Select QR code</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="d-flex justify-content-center flex-column">

                <input type="file" name="FormFile" hidden="" id="getFile" accept="image/png, image/jpeg">
                <div class="d-flex justify-content-center">
                    <a style="background-color:transparent;border:hidden; margin:0;padding:0;padding-left:0.5rem;display:inline;" onclick="document.getElementById('getFile').click()">
                    <div href="/QR" class="btn btn-lg btn-outline-primary rounded-pill py-3" style="font-size: 0.88rem;"><img src="~/images/qr-code-icon.png" alt="QR code icon" class="me-2" width="24">Choose image</div>
                </a>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <p id="attachment" style="font-size: 13px; margin: 0; padding: 0;"></p>
                </div>

            </div>

            <div class="d-flex mt-4">
                <div id="proceedDiv" class="d-flex w-100 d-flex justify-content-center d-none">
                    <button id="proceed" class="btn btn-primary w-50">Proceed</button>
                </div>
                
            </div>
        </form>
    </div>
</div>

<script>
    let getFileInput = document.getElementById('getFile');
    if (getFileInput) {
        getFileInput.onchange = function () {

            var attachment = document.getElementById('attachment');

            if (this.files.length >= 1) {
                let innerHTML = "";
                for (let i = 0; i < this.files.length; i++) {
                    innerHTML += "<p class=\"m-0\">" + this.files[i].name + " is chosen</p>";
                }
                attachment.innerHTML = innerHTML;
                attachment.style.fontWeight = "bold";
                $('#proceedDiv').removeClass('d-none')
            } else {
                attachment.innerHTML = "";
                attachment.style.fontWeight = "";
                $('#proceedDiv').addClass('d-none')

            }
        }
    }
</script>