<style>
      html,body {
        overflow: hidden;
      }
      .animate-out {
        overflow: hidden !important;
      }
    </style>

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card p-5 shadow-lg rounded-3 animate__animated animate__fadeInUp" style="max-width: 500px;">
    <h1 class="fw-bold text-center mb-4" style="font-family: 'Montserrat', sans-serif; font-size: 2rem;">Utility payment</h1>
    <div class="d-grid gap-3">
      <button class="btn btn-lg btn-outline-primary rounded-pill py-3" style="font-size: 0.88rem;"><img src="~/images/paper-icon.png" alt="Paper icon" class="me-2" width="24">UTILITY TEMPLATE</button>
      <button class="btn btn-lg btn-outline-primary rounded-pill py-3" style="font-size: 0.88rem;"><img  src="~/images/qr-code-icon.png"  alt="QR code icon" class="me-2" width="24">QR CODE</button>
    </div>
  </div>
</div>
