@{
    ViewData["Title"] = "QRCode";
}


<form method="post" enctype="multipart/form-data">

    <div>

<input type="file" name="FormFile" hidden="" id="getFile" accept="image/png, image/jpeg">
        <a style="background-color:transparent;border:hidden; margin:0;padding:0;padding-left:0.5rem;display:inline;" onclick="document.getElementById('getFile').click()">
            <div style="display:inline-block;max-height:45px">
                <img width="35" height="35" src="/images/files.png" alt="" style="margin-bottom: 1rem;">
            </div>
            <div style="margin:0;padding:0;display:inline-block; ">
                <p id="odaberi" style="font-size:13px; margin:0;padding:0;">ODABERI</p>
                <p id="attachment" style="font-size: 13px; margin: 0; padding: 0;">KML FAJL...</p>
            </div>
        </a>

    </div>

    <button class="btn btn-primary mt-3 float-end">Snimi</button>
</form>

<script>
    let getFileInput = document.getElementById('getFile');
    if (getFileInput) {
        getFileInput.onchange = function () {

            var odabrano = document.getElementById('odaberi');
            var attachment = document.getElementById('attachment');

            if (this.files.length >= 1) {
                odabrano.innerHTML = "ODABRANO:";
                let innerHTML = "";
                for (let i = 0; i < this.files.length; i++) {
                    innerHTML += "<p class=\"m-0\">" + this.files[i].name + "</p>";
                }
                attachment.innerHTML = innerHTML;
                odabrano.style.fontWeight = "bold";
                attachment.style.fontWeight = "bold";
            } else {
                odabrano.innerHTML = "ODABERI";
                attachment.innerHTML = "ATTACHMENT...";
                odabrano.style.fontWeight = "";
                attachment.style.fontWeight = "";
            }
        }
    }
</script>